
button:focus {
    outline: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
    font-family: Helvetica sans-serif;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

@media screen and (max-width: 500px) {
    #menu {
        display: none;

    }
}

/* Custom CSS
 * --------------------------------------- */
body {
    font-family: arial, helvetica;

}

#section0,
#section1,
#section2,
#section3 {
    background-size: cover;
    background-attachment: fixed;
}

#section0 {
    background-image: url(../imgs/page1.png);
}
#section1{
    background-image: url(../imgs/page2.png);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#section1.active{
    background-image:url(../imgs/page2.png);
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.2);
}


.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}
.listBlack{
    color:black
}





.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    text-align: center;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

#menu li {
    font-size: 13pt;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
    vertical-align: middle;
    -webkit-transition-property: margin-top, margin-bottom;
    transition-property: margin-top, margin-bottom, font-size;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

#menu li.active {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 18pt;

}

#menu li a {
    padding-left: 5%;
    padding-right:5%;
    color: #fff;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

}

#menu li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 5px;
    background-color: red;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

#menu li.active a, #menu li.active a:hover {
    color: white;
    font-weight: 800;

}

#menu li.active a::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

}

#menu li a:hover {
    color: red;
}

#menu {
    margin-top: 51px;
    margin-left: 53px;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
}

#homebutton {
    position: fixed;
    right: 71px;
    top: 68px;
    width: 82px;
    height: 82px;
    z-index: 70;
    border: none;
    cursor: pointer;

}

#applybutton {
    position: fixed;
    bottom: 68px;
    right: 0;
    cursor: pointer;
    width: 208px;
    border: none;
    height: 74px;
    background-color: red;
    z-index: 70;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

}
.delaySpeed{
    -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.5s;
}

#applybutton:hover {

    position: fixed;
    bottom: 50px;
    width: 223px;
    height: 74px;
    border: none;
    background-color: gray;
    z-index: 70;
}

#applybutton:hover span {
    display: none
}
.hasDisplay{
    display:none;
}

#applybutton:hover:before {
    content: "신청하기"
}
