@font-face{
	font-family:'KoPub Batang Medium';
	src: url('../fonts/KoPub Batang Medium.ttf');
}
@font-face{
	font-family:'KoPub Dotum Medium';
	src: url('../fonts/KoPub Dotum Medium.ttf');
}

/* subject 프레임 */

nav, aside{
		flex-shrink: 0;
}
main {
	flex-shrink: 0;
}
.sec1 {
	/*margin-top: 10%;*/
	margin-left:15%;
	margin-right: 15%;
	padding-top:40px;
	padding-bottom: 40px;
	padding-left:30px;
	padding-right:30px;
  text-align: left;
}

.subject_container{
		margin-top: 15%;
		display: flex;
		flex-direction: column;
}
.subject_contents{
		display:flex;
}


/* subject 안에 들어갈 내용 */

.subject_title > p {
  font-family: "KoPub Batang Medium", serif;
  font-size: 33px;
	color: #ede9ff;
}
.subject_text > p {
	font-family: "KoPub Dotum Medium", serif;
	color: #dfd7ff;
	font-size: 15px;
}

/* 여기부터 sponsor */

#section5 {
	background: url("../imgs/sponsor.png");
	background-size: cover;

}
.sponsor_box {
	margin-left:15%;
	margin-right: 15%;
	padding-top:40px;
	padding-bottom: 40px;
	padding-left:30px;
	padding-right:30px;
  background: black;
	opacity: 0.8;
}
.sponsor_box > img {
	padding: 15px;
}
