@font-face{
	font-family:'KoPub Batang Medium';
	src: url('../fonts/KoPub Batang Medium.ttf');
}
@font-face{
	font-family:'KoPub Dotum Medium';
	src: url('../fonts/KoPub Dotum Medium.ttf');
}
.subject_container{
		display: flex;
		flex-direction: column;
}
.subject_contents{
		display:flex;
		/*margin-left: 300px*/
}
nav, aside{
		flex-shrink: 0;
}
main {
	flex-shrink: 0;
}
.sec1 {
	margin-top: 300px;
  text-align: left;

}
.subject_title > p {
  font-family: "KoPub Batang Medium", serif;
  font-size: 36px;
	color: #ede9ff;
}
.subject_text > p{
	font-family: "KoPub Dotum Medium", serif;
	color: #dfd7ff;
	font-size: 18px;
}
