
.transition {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;


}
.s_title{
    color: #cccccc;
    margin-bottom: 3%;
}
.rs1, .rs2, .rs3, .rs4{
    display:none;
}

.speaker1, .speaker2, .speaker3, .speaker4{
    background-color: black;
    height: 360px;

 }
@media (max-width: 600px){
    #speaker1, #speaker2, #speaker3, #speaker4{
        display: none;
    }
    .s_title{
        color: #cccccc;
        margin-top: 10%;
        margin-bottom: 3%;
    }
    .rs1, .rs2, .rs3, .rs4{
        display: block;
    }

}

.small{
    flex:1;
    height:400px;
}


.big{
    flex:4;
    height:400px;
}
.footer{
    text-align: center;



}

.footerImg{
    position: absolute;
    bottom: 2%;
    left:2%;
    width: 250px;
    height: auto;
}
.footerText{
    color: #808080;
    position: absolute;
    bottom: 2%;
    left:34%;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    vertical-align: bottom;
    font-weight: bold;

}
.name{
    margin-top: 70%;
    color:white;
}
.name_section{
    flex:1;

}
.from_section{
    flex:1;
    display:flex;
    align-items: center;

}
.from_container{
    transform: rotate(90deg);
    transform-origin: top right;
    padding-left:10%;

}
.from{
    letter-spacing: 1px;
    font-size: 15px;
    color:white;
    width: 155%;


}
.big_image{
    width:100%;
    height: 360px;
}

.small_image{
    width:100%;
    height:360px;
}
