.speakers{
    display: flex;
    flex-direction: row;
}
.speaker1, .speaker2, .speaker3, .speaker4{
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    cursor: pointer;
    background-color: black;
    display: flex;

}

.speaker1{
     margin-left: 15%;
     margin-right: 1%;

 }
.speaker2{
    flex:1;
    margin-right: 1%;
    height:400px;
}

.speaker3{
    flex:1;
    margin-right: 1%;
    height:400px;
}
.speaker4{
    flex:1;
    margin-right: 15%;
    height:400px;

}
.small{
    flex:1;
    height:400px;
}

.big{
    flex:4;
    height:400px;
}
.footer{
    text-align: center;



}

.footerImg{
    position: absolute;
    bottom: 2%;
    left:2%;
    width: 250px;
    height: auto;
}
.footerText{
    color: #808080;
    position: absolute;
    bottom: 2%;
    left:34%;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    vertical-align: bottom;
    font-weight: bold;

}
.name{
    margin-top: 70%;
    color:white;
}
.name_section{
    flex:1;

}
.from_section{
    flex:1;
    display:flex;
    align-items: center;

}
.from_container{
    transform: rotate(90deg);
    transform-origin: top right;
    padding-left:10%;

}
.from{
    letter-spacing: 1px;
    font-size: 15px;
    color:white;
    width: 155%;


}