
.transition {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}
.transition-slow {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}
.hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.fp-slides {
    z-index: 0;

}
.s_title{
    color: #cccccc;
    margin-bottom: 3%;
}
.rs1, .rs2, .rs3, .rs4{
    display:none;
}
.col-md-5{
    padding-left: 10px;
    padding-right: 10px;
}

.speaker1, .speaker2, .speaker3, .speaker4{
    background-color: transparent;
    height: 360px;

 }
.card-container:hover .card .card-info .profile-text{
    color: #c79794;
}

@media (max-width: 600px){
    .profile_title{
        display: none;
    }
    .fp-slidesNav ul li a span {

        top:180%;

    }
    #speaker1, #speaker2, #speaker3, #speaker4{
        display: none;
    }
    .s_title{
        color: #cccccc;
        margin-top: 10%;
        margin-bottom: 3%;
    }
    .rs1, .rs2, .rs3, .rs4{
        display: block;
        padding-bottom: 4%;
    }
    .card-info{
        display: inline-grid;
        padding-left: 0px;
    }


}

.small{
    flex:1;
    height:400px;
}


.big{
    flex:4;
    height:400px;
}
.footer{
    text-align: center;



}

.footerImg{
    position: absolute;
    bottom: 2%;
    left:2%;
    width: 250px;
    height: auto;
}
.footerText{
    color: #808080;
    position: absolute;
    bottom: 2%;
    left:34%;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    vertical-align: bottom;
    font-weight: bold;

}
.name{
    margin-top: 70%;
    color:white;
}
.name_section{
    flex:1;

}
.from_section{
    flex:1;
    display:flex;
    align-items: center;

}
.from_container{
    transform: rotate(90deg);
    transform-origin: top right;
    padding-left:10%;

}
.profile_major{
    color: white;
    font-size: 13px;
}
.fp-slidesNav ul li a span {

    background: #cccccc;

}
.overlay{
    background-color: black;
    display: inline-block;
}
.profile_title{

    color: #cccccc;
    margin-bottom: 7%;
}
.card-container{
    height: 100%;
}
.card{
    background-color: #1d1438 !important;
    border-radius: 0px;
}
.card-text{
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: left;
    padding-left: 6%;
}
.card-info{
    padding-top: 7%;
    padding-bottom: 18%;
    text-align: left;
    padding-left: 6%;
}
.profile-text{
    color:white;
    font-size: 20px;
}
.card-image{
    background-color: #1d1438;
    padding-left: 6%;
    padding-right: 6%;
}
.profile-img{
    width: 100%;
    height: auto;
}
.from{
    letter-spacing: 1px;
    font-size: 15px;
    color:white;
    width: 155%;


}
.big_image{
    width:100%;
    height: 360px;
}

.small_image{
    width:100%;
    height:360px;
}
