/*@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
	font-family:'KoPub Batang Medium';
	src: url('../fonts/KoPub Batang Medium.ttf');
}
@font-face{
	font-family:'KoPub Dotum Medium';
	src: url('../fonts/KoPub Dotum Medium.ttf');
}


#section0 > div {
	vertical-align: bottom;
}
#section0 > div > p {
	margin-bottom: 73px;
	color: #dfd7ff;
	font-family: "Helvetica light", sans-serif;
	font-size: 26px;
	font-weight: lighter;
}
#section0 > div > h1 {
	font-size: 45px;
	color: #ede9ff;
	font-family: "KoPub Batang Medium", serif;
	/*font-weight: 300;*/
}
#applybutton > span {
	font-size: 30px;
	color: #fff;
	font-family: Helvetica;
	font-weight: bold;
}
#section3 {
	background: url("../imgs/abouttedx.png");
	background-size: cover;
}

.abouttedx {
	display: flex;
	justify-content: space-between;
}
.tedxeng {
	width: 448px;
	height: 394px;
    background: rgba(0,0,0,0.4);
	padding: 30px;
	/*opacity: 0.8;*/
}
.tedxeng>p {
	color: #fff;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 15px;
	text-align: left;
}
.tedxkor>p {
	color: #fff;
	font-family: 'KoPub Dotum Medium', sans-serif;
	font-size: 15px;
	text-align: left;
}
.tedxkor {
	width: 448px;
	height: 394px;
    background: rgba(0,0,0,0.4);
	padding: 30px;
	/*opacity: 0.8;*/
}
#tedxlogo {

	margin-left: 60px;
	margin-bottom: 30px;
}
.tedxlogowrapper {
	text-align: left;
}

@media (min-width: 1441px) {
	#section0 > div > p {
		margin-bottom: 100px;
		color: #dfd7ff;
		font-family: "Helvetica light", sans-serif;
		font-size: 26px;
		font-weight: lighter;
	}
}
