/*@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
	font-family:'KoPub Batang Medium';
	src: url('../fonts/KoPub Batang Medium.ttf');
}
@font-face{
	font-family:'KoPub Dotum Medium';
	src: url('../fonts/KoPub Dotum Medium.ttf');
}


#section0 > div {
	vertical-align: bottom;
}
#section0 > div > p {
	margin-bottom: 73px;
	color: #dfd7ff;
	font-family: "Helvetica light", sans-serif;
	font-size: 26px;
	font-weight: lighter;
}
#section0 > div > h1 {
	font-size: 45px;
	color: #ede9ff;
	font-family: "KoPub Batang Medium", serif;
	/*font-weight: 300;*/
}
#applybutton > span {
	font-size: 30px;
	color: #fff;
	font-family: Helvetica;
	font-weight: bold;
}
#section3 {
	background: url("../imgs/abouttedx.png");
	background-size: cover;
}

.abouttedx {
	display: flex;
	justify-content: space-between;
}
.tedxeng {
	width: 448px;
	height: 394px;
    background: rgba(0,0,0,0.4);
	padding: 30px;
	/*opacity: 0.8;*/
}
.tedxeng>p {
	color: #fff;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 15px;
	text-align: left;
}
.tedxkor>p {
	color: #fff;
	font-family: 'KoPub Dotum Medium', sans-serif;
	font-size: 15px;
	text-align: left;
}
.tedxkor {
	width: 448px;
	height: 394px;
    background: rgba(0,0,0,0.4);
	padding: 30px;
	/*opacity: 0.8;*/
}
#tedxlogo {

	margin-left: 60px;
	margin-bottom: 30px;
}
.tedxlogowrapper {
	text-align: left;
}

.front, .back {
    background-color: black;

}
.card-container {
    width: 280px;
    height: 410px;
    padding: 30px;
}
.fp-controlArrow.fp-prev {
    left: 16%;
    border-color : #000;
}

.fp-controlArrow.fp-next {
    right: 10%;
    border-color : #000;
}

@media (min-width: 1441px) {
	#section0 > div > p {
		margin-bottom: 100px;
		color: #dfd7ff;
		font-family: "Helvetica light", sans-serif;
		font-size: 26px;
		font-weight: lighter;
	}
}

@media (max-width: 415px) {
	#section0 > div > h1 {
		font-size: 3.5rem;
	}
	#section0 > div > p {
		font-size: 2.5rem;
	}
	#homebutton {
		display: none;
	}
	#section0,#section1 ,#section2, #section3,#section4,#section5 {
		background-size: cover;
		background-position: center;
	}
	#applybutton {
		display: none !important;
	}
	aside > img {
		display: none;
	}
	.subject_title > p {
		font-size: 2.5rem !important;
	}
	.subject_text > p {
		font-size: 1.4rem !important;
	}
	a > img {
		width: 2.5rem;
	}
	a + img {
		width: 2.5rem;
	}
}
